{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control de Producción e Indicadores</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    {% block stylesheet %}{% endblock %}
</head>
<body>
    <header class="col-xs-12">
        <h1>SIPLAM - Módulo Control de Producción e Indicadores</h1>
    </header>
    <nav class="col-xs-12">
        <a href="{% url 'index' %}"><span>Inicio</span></a></li>
        {% block breadcrumbs %}{% endblock %}
    </nav>
{% block content %}
{% endblock %}
    <script href="{% static 'js/bootstrap.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>